@import "config";
@import "typography";
@import "global";

// body {
//   position: relative;
//   overflow-x: hidden;
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }

.wrapper {
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &.active {
    height: 100vh;
    overflow: hidden;
  }
}

main {
  flex: 1;
}

.bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1440px;
  height: 100%;
  z-index: -1;
  pointer-events: none;

  @include tablet {
    width: 100%;
  }

  &-top {
    position: absolute;
    top: -11.5rem;
    right: -10rem;

    @include tablet {
      top: -10rem;
      right: -13rem;
      width: 100%;
      min-width: 500px;
    }
  }

  &-middle {
    position: absolute;
    top: 1124px;
    left: -31rem;

    @include tablet {
      width: 70%;
      min-width: 380px;
      top: 520px;
      left: unset;
      right: -16rem;
    }
  }
}

header {
  margin-bottom: 7.5rem;
  z-index: 1;

  @include tablet {
    margin-bottom: 3.25rem;
  }

  .container {
    padding-top: clamp(2.5rem, 5vw, 3.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: block;
    transform: translateY(0.25rem);

    @include tablet {
      width: 6.875rem;
    }
  }

  nav {
    @include st {
      display: none;
    }

    & > * + * {
      margin-left: 2rem;
    }
  }

  .btn {
    @include laptop {
      display: none;
    }
  }
}

.intro {
  margin-bottom: 8.125rem;

  @include tablet {
    margin-bottom: 5.75rem;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;

    @include tablet {
      grid-template-columns: 1fr;
      place-items: center;
      text-align: center;
      gap: 1rem;
      width: min(35rem, 100%);
    }
  }

  h1 {
    margin-bottom: 1.75rem;

    @include mobile {
      margin-bottom: 1.25rem;
    }
  }

  p {
    width: min(340px, 100%);
    margin-bottom: 2.5rem;

    @include tablet {
      width: 100%;
      margin-bottom: 2.25rem;
    }
  }

  img {
    max-width: 100%;

    @include tablet {
      grid-row: 1;
    }
  }
}

.features {
  margin-bottom: 9rem;

  @include tablet {
    margin-bottom: 7rem;
  }

  @include mobile {
    margin-bottom: 4rem;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    @include tablet {
      grid-template-columns: 1fr;
      gap: 3.625rem;
    }
  }

  &-text {
    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    h4 {
      margin-bottom: 2rem;

      @include tablet {
        margin-bottom: 1.25rem;
        width: min(15rem, 100%);
      }
    }

    p {
      width: min(340px, 100%);

      @include tablet {
        width: 100%;
        width: min(35rem, 100%);
      }
    }
  }

  &-articles {
    display: grid;
    gap: 2.5rem;
  }

  .article {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: 0.625rem 1.875rem;

    @include tablet {
      gap: 1rem 0.75rem;
    }

    h5 {
      align-self: center;
    }

    p {
      grid-area: 2/2/3/3;

      @include tablet {
        grid-area: 2/1/3/3;
      }
    }
  }
}

.testimonials {
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 11.25rem;

  @include tablet {
    margin-bottom: 7rem;
  }

  @include mobile {
    margin-bottom: 2.625rem;
  }

  h3 {
    text-align: center;
    margin-bottom: 4rem;
  }

  .slider-container {
    width: 1684px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
  }

  &-container {
    align-self: flex-start;
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
    padding-top: 3rem;

    @include st {
      margin-bottom: 1.5rem;
    }
  }

  .testimonial {
    position: relative;
    width: 540px;
    min-width: 540px;
    background: $Very-Light-Gray;
    padding: 3.75rem 2.75rem 2.625rem;
    text-align: center;

    @include st {
      width: 340px;
      width: calc(100vw - 3rem);
      min-width: unset;
      padding: 3.75rem 1.75rem 2.625rem;
    }

    img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 4.5rem;
      height: 4.5rem;
    }

    h5 {
      margin-bottom: 1.25rem;
    }
  }

  .slider-controls {
    position: absolute;
    top: 9rem;
    width: min(1780px, 100%);
    height: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    @extend %tr;

    @include tablet {
      top: 10rem;
    }

    @include st {
      display: none;
    }

    &:hover {
      opacity: 1;
      padding: 0 1.5rem;
    }

    .slide-btn {
      cursor: pointer;
      border: none;
      outline: none;
      width: 3rem;
      height: 3rem;
      background: $Bright-Red;
      font-size: 1rem;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      @extend %tr;

      &:hover {
        transform: scale(1.1);
        background: lighten($Bright-Red, 10%);
      }

      &:active {
        transform: scale(1.2);
      }
    }
  }

  .bullets {
    display: none;
    margin-bottom: 2.875rem;

    @include st {
      display: flex;
    }

    & > * + * {
      margin-left: 0.25rem;
    }

    .bullet {
      cursor: pointer;
      width: 0.625rem;
      height: 0.625rem;
      border-radius: 50%;
      border: 1px solid $Bright-Red;
      transition: 0.15s ease;

      &:not(.active):hover {
        transform: scale(1.1);
      }

      &.active {
        background: $Bright-Red;
        cursor: unset;
      }
    }
  }
}

.cta {
  background: $Bright-Red no-repeat bottom left calc(50% + 15.5rem)
    url("../images/bg-simplify-section-desktop.svg");

  @include tablet {
    background: $Bright-Red no-repeat left center
      url("../images/bg-simplify-section-mobile.svg");
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5rem 0 4rem;

    @include tablet {
      flex-direction: column;
      text-align: center;
      padding: 5.75rem 0;
    }
  }

  h2 {
    color: white;
    width: min(440px, 100%);

    @include tablet {
      margin-bottom: 1.5rem;
    }
  }
}

footer {
  background: $Very-Dark-Blue;

  .container {
    position: relative;
    padding: 4rem 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 2rem;

    @include tablet {
      grid-template-columns: 1fr;
      place-items: center;
      align-items: center;
      gap: unset;
      padding: 3.25rem 0 6.625rem;
    }
  }

  .logo-socials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet {
      grid-row: 3;
      flex-direction: column-reverse;
      align-items: center;
    }

    .socials {
      @include tablet {
        margin-bottom: 3.25rem;
      }
      & > * + * {
        margin-left: 0.5rem;

        @include tablet {
          margin-left: 2rem;
        }
      }
    }

    i {
      @include tablet {
        font-size: 2rem;
      }
    }
  }

  .footer-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include tablet {
      gap: 6.5rem;
      margin-bottom: 3.125rem;
    }

    .col {
      justify-self: center;
      display: flex;
      flex-direction: column;

      & > * + * {
        margin-top: 1rem;
      }
    }
  }

  form {
    position: relative;
    justify-self: flex-end;
    display: flex;
    align-items: flex-start;

    &.invalid {
      input {
        border: 1px solid red;
        color: red;
      }
      label {
        display: unset;
      }
    }

    @include tablet {
      width: min(30rem, 100%);
      justify-self: center;
      align-items: center;
      grid-row: 1;
      margin-bottom: 3.375rem;
    }

    input {
      @include tablet {
        width: 100%;
      }
    }

    label {
      position: absolute;
      left: 1rem;
      top: 3rem;
      display: none;
    }

    .btn {
      margin-left: 0.5rem;
    }
  }

  .copy {
    position: absolute;
    right: 0;
    bottom: 4rem;

    @include tablet {
      bottom: 2rem;
      right: 50%;
      transform: translateX(50%);
      width: 100%;
      text-align: center;
    }
  }
}

@import "modal";
